<div class="container center">
	<h1>Corporate accountability.</h1>
	<h2><span class="muted">How we grade for-profit corporations.</span></h1>
	<p class="center">Our market research team pours over SEC filings, press releases, public information, and anything else that we can get our hands on in order to analyze for profit companies based on a host of factors. These factors boil down to three core groups: transparency, sustainability and humanity. </p>

<hr>
<div class="containter">
	<div class="row">
		<div class="col-lg-4 center">
			<h3>Transparency</h3>
			<p>One of the primary goals at <span style="color:#f39c12">GenerUs</span>, is the promotion of corporate transparency. We want you to know what kinds of decisions are being made by the companies you buy from, and we want this to be as easy as possible to discover. We look at what information is available, and how accessible it is. We examine this information in light of companies' identities, and what they hold themselves out to be.
			<p><button type="button" class="btn btn-default center">Read more &raquo;</a></p>
		</div>
		<div class="col-lg-4 center">
			<h3>Sustainability</h3>
			<p>At <span style="color:#f39c12">GenerUs</span>, we realize the importance of promoting sustainability within consumer markets. We research the efforts being made by companies to minimize their ecological footprint. This means looking for LEED certifications, recycled and upcycled resources used in production and RD that companies are putting toward clean technology.
			<p><button type="button" class="btn btn-default center">Read more &raquo;</a></p>
		</div>
		<div class="col-lg-4 center">
			<h3>Humanity</h3>
			<p>We want you to know how the companies that you buy from are treating the humans that they interact with. This means that here at <span style="color:#f39c12">GenerUs</span>, we scour the inter-web for data on employee & executive compensation, scrutinize supply chains, and find out how companies are giving back to the people in their communities.
			<p><button type="button" class="btn btn-default center">Read more &raquo;</a></p>
		</div>
	</div>
<hr>
<h1>Transparency. Getting under their skin.</h1>

<hr>

<h1>Humanity. Working for one another.</h1>

<p>We want to know how companies treat real, live, actual people. The people that they employ, the people from whom they buy materials and products, and the people in their communities. There are three areas we look to in order to asses a score for this category: </p>

<div class="containter">
	<h2>Employee benefits. <span class="muted">How do they treat their own?</span></h2>

	<p>We examine the employee compensation all the way up the ladder, from service employees, to executives. We want you to know how companies value all of their employees; relative to one another, relative to industry and nationwide averages. We want you to be able to consume knowing that your products were made by employees making a living wage. We also look to employee benefits. Does the company offer health insurance? Life insurance? What about employees with disabilities? All of these questions matter, and we think that you care.</p>

</div>

